.form-switch .form-check-input:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 47, 69, 0.25) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='red'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:checked {
    border-color: red !important;
    background-color: red !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e") !important;
}
